@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using HnganhCinema.Helper
@inject AuthenticateHelper _auth
@inject IAuthorizationService authorizationService
@inject UserManager<AppUser> _userManager


@{
    var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}

@{
    AppUser CurrentUser = _userManager.GetUserAsync(User).Result;

}

@if (result.Succeeded && CurrentUser != null)
{
    var roleName = await _userManager.GetRolesAsync(CurrentUser);
    <div style="margin-right: 2vh" @* class="dropdown" *@>
        <div aria-labelledby="managedropdownmenu">
            @if (roleName.Any(r => r == "Administrator" || r == "Editor"))
            {
                <a class="btn btn-outline-success btn-sm" asp-action="Index" asp-controller="Home" asp-area="Identity">
                    Manager View
                </a>
            }
        </div>
    </div>

}
