@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using HnganhCinema.Helper
@inject AuthenticateHelper _auth
@inject IAuthorizationService authorizationService
@inject UserManager<AppUser> _userManager


@{
    var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}

@{
    AppUser CurrentUser = _userManager.GetUserAsync(User).Result;
}

@if (result.Succeeded && CurrentUser != null)
{
    <div style="margin-right: 2vh" @* class="dropdown" *@>
        <div  aria-labelledby="managedropdownmenu">
            
            @if(_auth.CanAccess(CurrentUser.Id, "Manage Roles", "View"))
            {
            <a class="btn btn-outline-success btn-sm" asp-action="Index" asp-controller="Role" asp-area="Identity">
                Manage Roles
            </a>
            }
            @if (_auth.CanAccess(CurrentUser.Id, "Manage Members", "View"))
            {
            <a class="btn btn-outline-success btn-sm" asp-action="Index" asp-controller="User" asp-area="Identity">
                Manage Members
                </a>
            }
            @if (_auth.CanAccess(CurrentUser.Id, "Manage Features", "View"))
            {
            <a class="btn btn-outline-success btn-sm" asp-action="IndexFeature" asp-controller="DbManage" asp-area="Database">
                Manage Features
            </a>
            }
        </div>
    </div>

}
