@{
    ViewData["Title"] = "Confirm Email";
}

<h1>@ViewData["Title"].</h1>
<div>
    <p>
        You have completed email authentication.
        Please <a asp-controller="Account" asp-action="Login">CLICK HERE TO LOGIN</a>.
    </p>
</div>
