@{
    ViewData["Title"] = "Temporarily lock account";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">
        Temporarily lock account, try again later...
    </p>
</header>
