@{
    ViewData["Title"] = "Reset Password";
}

<h1>@ViewData["Title"].</h1>
<p>
    You have reset your password,
    <a asp-controller="Account" asp-action="Login">
        CLICK HERE TO LOGIN
    </a>
</p>
