.app-navbar {
    background: rgba(0,0,0,0.8);

    .text-dark {
        color: aquamarine !important;

        &:hover {
            color: white !important;
        }
    }

    .navbar-brand {
        color: purple;

        &:hover {
            color: red;
        }
    }
}
