@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<head>
    <link rel="stylesheet" href="~/sourcetemplate/loginregister/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/sourcetemplate/loginregister/css/style.css">
</head>

@* <h1>@ViewData["Title"].</h1> *@

@* <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
    <h4>Nhập thông tin để đổi mật khẩu</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-10 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-10 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-danger">Đổi mật khẩu</button>
        </div>
    </div>
</form> *@




<section class="signup">
    <div class="signup-content">
        <div class="signup-form">
            <h2 class="form-title">Change Password</h2>
            <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label><i class="zmdi zmdi-lock material-icons-name"></i></label>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                    <input asp-for="OldPassword" placeholder="Old Password" />
                </div>
                <div class="form-group">
                    <label><i class="zmdi zmdi-lock material-icons-name"></i></label>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                    <input asp-for="NewPassword" placeholder="New Password" />
                </div>
                <div class="form-group">
                    <label><i class="zmdi zmdi-lock material-icons-name"></i></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <input asp-for="ConfirmPassword" placeholder="Confirm new Password" />
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-danger">Change</button>
                    </div>
                </div>
            </form>

            <div>
                <a asp-action="Index">Return</a>
            </div>
            
        </div>
        <div class="signup-image">
            <figure><img src="~/sourcetemplate/loginregister/images/signup-image.jpg" alt="sing up image"></figure>
        </div>
    </div>


</section>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
    }
        <script src="~/sourcetemplate/loginregister/vendor/jquery/jquery.min.js"></script>
        <script src="~/sourcetemplate/loginregister/js/main.js"></script>
}
