@using HnganhCinema.Areas.Identity.Models.Role;
@model AddRoleAppClaim
@{
    ViewData["Title"] = "Create a new Role";
}
@* <h2>@ViewData["Title"]</h2> *@
<partial name="_StatusMessage"></partial>

<hr>

<div class="row">
    <form class="row" method="post">
        <div class="col-md-6">
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input asp-for="Name" class="form-control" />
                </div>
                
            </div>
            <h2>Features of role: </h2>
            <div id="id-selected-texts">
            </div>
        </div>
        

        <div class="row col-md-6">
            <div class="form-group">
                <label asp-for="Features"></label>
                @Html.ListBoxFor(m => m.Features, (IEnumerable<SelectListItem>)ViewBag.allFeature, new{
                id = "id-select-feature",
                @class = "w-100 h-50"
                })
            </div>
        </div>
            <div style="margin-top:2vh" class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">List of Roles</a>
            </div>
        
    </form>
    <div id="selected-items-info"></div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/multiple-select/multiple-select.js"></script>
    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />





    <script>
        var js = jQuery.noConflict(true);

        js("#id-select-feature").multipleSelect({
            selectAll: true,
            keepOpen: false,
            isOpen: false,
            filter: true,
        });
        js("#id-select-feature").change(function () {
            // Lấy giá trị đã chọn
            var selectedValues = js(this).val();

            // Hiển thị text của các option đã chọn
            var selectedTexts = [];
            js("#id-select-feature option:selected").each(function () {
                selectedTexts.push(js(this).text());
            });

            // Hiển thị text của các option đã chọn trong một vùng hiển thị (ví dụ: div có id là 'id-selected-texts')
            js("#id-selected-texts").text(selectedTexts.join(", "));
        });
        

    </script>
    <partial name="_ValidationScriptsPartial" />
}
