@model IEnumerable<CinemaWeb.Models.Movie> 
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .movie-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 20px;
        }

        .movie-card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 300px;
            margin: 20px;
            transition: transform 0.3s ease-in-out;
        }

            .movie-card:hover {
                transform: scale(1.05);
            }

            .movie-card img {
                width: 100%;
                height: auto;
                border-bottom: 1px solid #ddd;
            }

            .movie-card h3 {
                font-size: 1.5rem;
                margin: 10px 0;
            }

            .movie-card p {
                color: #666;
                font-size: 1rem;
                padding: 0 20px 20px;
            }
            .movie-card img{
                width : 20rem;
                height: 20rem;
            }

    </style>

</head>
<body>
    <div>
        <a class="btn btn-primary btn-sm" asp-action="Index">Back to list Showtime</a>
    </div>
    <div class="movie-container">
        @foreach(var movie in Model)
        {
            <div class="movie-card">
                <img src="/Contents/MovieImage/@movie.Image" alt="Movie 1">
                <h3>@movie.MovieName</h3>
                <strong>Time:</strong><span> @movie.Time minutes</span><br>
                <strong>Type:</strong><span> @movie.Type</span><br>
                

                <a href="@Url.Action("Create", "ManageShowtimes", new{MovieId = movie.MovieId , Type = movie.Type})">Add Showtime</a>
            </div>
        }
    </div>
</body>
</html>


